<h1>Requests</h1>
<%= render 'shared/requirement/status_select' %>
<table class="table table-striped">
  <thead>
    <th>Title</th>
    <th>Expiration Date</th>
    <th>Categories</th>
  </thead>
  <tbody>
    <% @requirements.each do |requirement| %>
      <tr>
        <td><%= link_to requirement.title, admins_requirement_path(requirement) %></td>
        <td><%= requirement.expiration_date %></td>
        <td>
          <%= render 'shared/requirement/categories', locals: { requirement: requirement } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @requirements %>