<h1>Requests</h1>
<% if action_name == 'filter' || action_name == 'search' %>
  <h2>Showing results for <%= params[:category_name] || (params[:requirement] && params[:requirement][:search]) %></h2>
<% else %>
  <%= render 'shared/requirement/status_select' %>
<% end %>
<table class="table table-striped">
  <thead>
    <th>Title</th>
    <th>Expiration Date</th>
    <th>Categories</th>
  </thead>
  <tbody>
    <% @requirements.each do |requirement| %>
      <tr>
        <td><%= link_to requirement.title.humanize, admins_requirement_path(requirement) %></td>
        <td><%= requirement.expiration_date %></td>
        <td>
          <%= render 'shared/requirement/categories', locals: { requirement: requirement } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if action_name == 'filter' || action_name == 'search' %>
  <%= link_to 'Back', :back, class: 'btn btn-primary' %>
<% end %>
<%= paginate @requirements %>