
  <div class='container'>
    <div class='row'>
          <div class='col-md-6'>
            <%= render 'requirements/user_pages_select' %>
          </div>
          <div class='col-md-4'>
          </div>
          <div class="col-md-2">
          </div>
        </div>
  </div>
  <div class='container'>
    <div class='container'>
      <div class='row'>
        <div id='profile' class='well col-md-12'>
          <div class='col-md-6'>
            <legend>
              Edit Profile
            </legend>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
              <%= devise_error_messages! %>


              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="field form-group row">
                <div class='col-md-4'>
                  <%= f.label 'name*', for: :user_name, class: 'control-label' %>
                </div>
                <div class='col-md-8'>
                  <%= f.text_field :name, class: 'form-control' %>
                  <i>(No special characters allowed)</i>
                </div>
                <div class='col-md-1'></div>
                
              </div>
              <div class="field form-group row">
                <div class='col-md-4'>
                  <%= f.label :Bio, for: :about_me, class: 'control-label' %>
                </div>
                <div class='col-md-8'>
                  <%= f.text_area :about_me, class: 'form-control requirement-detail-box' %>
                </div>
              </div>
              <div class="field form-group row">
                <div class='col-md-4'>
                  <%= f.label 'contact_no*', for: :contact_no, class: 'control-label' %>
                </div>
                <div class='col-md-8'>
                  <%= f.text_field :contact_no, class: 'form-control' %>
                </div>
              </div>
              <br>
              <br>
              <div class="field form-group row">
                <div class='col-md-4'>
                  <%= f.label :New_password, for: :password, class: 'control-label' %>
                </div>
                <div class='col-md-8'>
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                  <i>(Leave blank if you don't want to change it)(No white spaces allowed)</i>
                </div>
              </div>
              <div class="field form-group row">
                <div class='col-md-4'>
                  <%= f.label :password_confirmation, class: 'control-label' %>
                </div>
                <div class='col-md-8'>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                </div>
              </div>
              <div class="field form-group row">
                <div class='col-md-4'>
                  <%= f.label :current_password, class: 'control-label' %>
                </div>
                <div class='col-md-8'>
                  <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
                  <i>(We need your current password to confirm your changes)</i>
                </div>
              </div>
              <div class="actions row">
                <div class='col-md-4'></div>
                <div class='col-md-8'>
                  <%= f.submit "Update", class: 'btn btn-primary color-white' %>
                  <%= link_to 'Cancel', user_path(resource), class: 'btn btn-primary' %>
                </div>
              </div>
          </div>
          <div class='col-md-6'>
            <div class='row'>
              <div class='col-md-4'></div>
              <div class='col-md-8'>
                <%= image_tag f.object.image.try(:url, :thumb) || 'https://jobcase.com/assets/profile_placeholder-faf3cf5ab272e5637914f24578e5a5bd.png', class: 'profile-icon' %>
              </div>
            </div>
            <div class='row'>
              <div class='col-md-4'></div>
              <div class='col-md-1 profile-image'>
                <%= f.fields_for :image, f.object.image || f.object.build_image do |image| %>
                  <%= image.label :change_image, for: :user_image_attributes_attachment, class: 'profile-image-label btn btn-primary btn-sm' %>
                  <%= image.file_field :attachment, class: 'form-control btn btn-primary image-file-field' %>
                <% end %>
              </div>
            </div>
          </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
