<% if locals[:requirement].fulfilled? %>
  <% if donor = locals[:requirement].donor %>
  <div id="current_donor">
    <strong>Name: </strong><%= donor.name %><br>
    <strong>Email: </strong><%= donor.email %><br>
    <strong>Contact #: </strong><%= donor.contact_no %><br>
  </div>
  <% end %>
<% else %>
  <ul class="donor">
    <% locals[:requirement].interested_donors.includes(:donor_requirements).each do |donor| %>
      <%= content_tag :li, class: 'donor ' + donor.donor_requirement(locals[:requirement].id).status do %>
        <strong>Name: </strong><span id=<%= 'donor' + donor.id.to_s %>><%= donor.name %></span><br>
        <% if donor.donor_requirement(locals[:requirement].id).current? %>
          <div id="current_donor">
            <strong>Email: </strong><%= donor.email %><br>
            <strong>Contact #: </strong><%= donor.contact_no %><br>
            <%= link_to 'Reject', reject_current_donor_of_requirement_path(locals[:requirement]), method: :put, remote: true %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>