<div class="bs-docs-section">
  <div class='row'>
    <div class='row'>
      <% if controller_name == 'requirements' && action_name == 'index' %>
        <h1 class="pull-left">My Requests: </h1>
      <% end %>
      <div class="pull-right">
        <%= link_to 'New Request', new_requirement_path, class: 'btn btn-primary', role: 'button' %>
      </div>
    </div>
    <br>
    <% @controller_action ||= [controller_name, action_name].join('#') %>
    <% if @controller_action == 'requirements#index' %>
      <%= render 'shared/requirement/status_select' %>
    <% end %>
  </div>
  <div class="row">
    <div class='col-md-12'>
      <div class="container">
        <div class="row">
        <% @requirements.each do |requirement| %>
          <div class="col-md-4">
            <div class="equal-height">
              <div class='top-black'>
                <span title='Interested Donors' class='pull-left highlight-round'>
                  <strong><%= requirement.donor_requirements.size %></strong>
                </span>
                <span title='Files attached' class="pull-right highlight-round">
                  <strong><%= requirement.files.size %></strong>
                </span>
              </div>
              <%= image_tag (requirement.image && requirement.image.url(:thumb)) || 'http://www.bmotorsports.com/shop/images/product-unavailable.jpg' %>
              <div class="bottom-black">
                <div class="title">
                  <strong><%= link_to requirement.title, requirement %></strong>
                </div>
                <div class="description">
                  <%= requirement.details.truncate(100) %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= paginate @requirements %>