<% @requirements ||= @donations %>
<div class="bs-docs-section">
  <div class='container'>
    <div class='container'>
      <div class='row'>
        <% if controller_name == 'welcome' %>
          <div class='row'>
            <div class='col-md-9'>
              <%= render 'layouts/category_menu' %>
            </div>
            <div class='col-md-3'>
              <%= render 'layouts/search_bar' %>
            </div>
          </div>
        <% end %>
        <div class='row'>
          <div class='col-md-6'>
            <% unless controller_name == 'welcome' %>
              <%= render 'requirements/user_pages_select' %>
            <% end %>
          </div>
          <div class='col-md-4'>
          </div>
          <div class="col-md-2">
            <%= link_to 'New Request', new_requirement_path, class: 'btn btn-primary', role: 'button' %>
          </div>
        </div>
        <% unless controller_name == 'welcome' || controller_name == 'users' || controller_name == 'donations' %>
          <div class='row'>
            <div class='col-md-4'>
              <%= render 'shared/requirement/status_select' %>
            </div>
          </div>
        <% end %>
        <br>
        <% @controller_action ||= [controller_name, action_name].join('#') %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-md-12'>
      <div class="container">
        <div class="row">
        <% @requirements.each do |requirement| %>
          <div class="col-md-4">
            <div class="equal-height">
              <div class='top-black'>
                <span title='Interested Donors' class='pull-left highlight-round'>
                  <strong>
                    <% if requirement.donor_requirements.size > 0 %>
                      <%= requirement.donor_requirements.size %>
                    <% end %>
                  </strong>
                </span>
                <span title='No of files attached' class="pull-right highlight-round">
                  <strong>
                    <% if requirement.files.size > 0 %>
                      <%= requirement.files.size %>
                    <% end %>
                  </strong>
                </span>
              </div>
              <%= image_tag (requirement.image && requirement.image.url(:thumb)) || 'http://www.bmotorsports.com/shop/images/product-unavailable.jpg' %>
              <%= content_tag :div, class: "bottom-black " + ((requirement.details.length > 150) ? 'large-on-hover' : '') do %>
                <div class="title">
                  <strong><%= link_to requirement.title, requirement %></strong>
                </div>
                <div class="description">
                  <strong><%= requirement.address.city + ': ' %></strong>
                  <text>
                    <%= requirement.details.truncate(250) %>
                  </text>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= paginate @requirements %>