<%= javascript_include_tag 'request_tile' %>
<%= javascript_include_tag 'scrollable_element' %>
<% #FIXME_AB: What is this? requirements = donations? -%>
<% # Fixed: I am reusing this partial for displaying donations too %>
<% @requirements ||= @donations %>
<% #FIXME_AB: Too much refactoratoin required in this file -%>
<% #Fixed: Already done %>
<div class="bs-docs-section">
  <div class='container'>
    <div class='container'>
      <div class='row'>
        <% if display_page == 'welcome' %>
          <div class='row'>
            <div class='col-md-9'>
              <%= render 'layouts/category_menu' %>
            </div>
            <div class='col-md-3'>
              <%= render 'layouts/search_bar' %>
            </div>
          </div>
        <% end %>
        <div class='row'>
          <div class='col-md-6'>
            <% unless display_page == 'welcome' %>
              <%= render 'requirements/user_pages_select' %>
            <% end %>
          </div>
          <div class='col-md-4'>
          </div>
          <div class="col-md-2">
            <%= link_to 'New Request', new_requirement_path, class: 'btn btn-primary', role: 'button' %>
          </div>
        </div>
        <% unless display_page == 'welcome' || display_page == 'users' || display_page == 'donations' %>
          <div class='row'>
            <div class='col-md-4'>
              <%= render 'shared/requirement/status_select' %>
            </div>
          </div>
        <% end %>
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-md-12'>
      <div class="container">
        <div class="row" id='requirement-tiles'>
          <%= render 'requirements/requirement' %>
        </div>
      </div>
    </div>
  </div>
</div>
