<%= javascript_include_tag 'request_tile' %>
<%= javascript_include_tag 'scrollable_element' %>
<% #FIXME_AB: What is this? requirements = donations? -%>
<% @requirements ||= @donations %>
<div class="bs-docs-section">
  <div class='container'>
    <div class='container'>
      <div class='row'>
        <div class='row'>
          <div class='col-md-9'>
            <%= render 'layouts/category_menu' %>
          </div>
          <div class='col-md-3'>
            <%= link_to 'New Request', new_requirement_path, class: 'btn btn-primary', role: 'button' %>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <% unless display_page == 'welcome' %>
              <%= render 'requirements/user_pages_select' %>
            <% end %>
          </div>
          <div class='col-md-4'>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <% unless display_page == 'welcome' || display_page == 'users' || display_page == 'donations' %>
          <div class='row'>
            <div class='col-md-4'>
              <%= render 'shared/requirement/status_select' %>
            </div>
          </div>
        <% end %>
        <br>
      </div>
    </div>
  </div>
  <div class="row tiles">
    <div class='col-md-12'>
      <div class="container">
        <% if @requirements.length.zero? %>
          <%= image_tag '/GRAY-NO-REQUESTS-FRONT.png', class: 'placeholder-photo' %>
        <% end %>
        <div class="row" id='requirement-tiles'>
          <%= render 'requirements/requirement' %>
        </div>
      </div>
    </div>
  </div>
</div>
