<h2>Showing <%= @requirement.title %></h2>
<% if current_user && current_user.id == @requirement.requestor_id && @requirement.pending? %>
  <h4><%= link_to 'Edit', edit_requirement_path(@requirement) %></h4>
<% end %>

<h3>Title: </h3><%= @requirement.title %>
<h3>Details: </h3><%= @requirement.details %>
<h3>Expiration Date: </h3><%= @requirement.expiration_date %>
<!-- TODO: please fix -->
<!-- Fixed -->
<h3>Location: </h3><%= Carmen::Country.coded(@requirement.address.country_code).name %>
<h3>Status: </h3><%= @requirement.status %>
<% if current_user && current_user.id == @requirement.requestor_id && @requirement.pending? %>
  <h3>Enabled/Disabled: </h3><%= 'Enabled' if @requirement.enabled %>
  <h3>Delete: </h3><%= link_to 'delete', @requirement, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= render 'shared/requirement/links' %>
<% end %>
