<% content_for :head do %>
  <meta property="og:title" content="<%= @requirement.title %>"/>
<% end %>
<%= render 'shared/fb_scripts' %>
<div class="row">
  <div class="row">
    <div class='row'>
      <div class='col-md-9'>
        <%= render 'layouts/category_menu' %>
      </div>
      <div class='col-md-3'>
        <%= render 'layouts/search_bar' %>
      </div>
    </div>
    <br>
    <div class="col-md-6 border-black height-800">
      <h2><%= @requirement.title %>
        <% if owner(@requirement) %>
          <%= link_to 'Edit', edit_requirement_path(@requirement), class: 'btn btn-primary btn-xs' %>
        <% end %>
      </h2>
      <div class="scroll-auto height-725">
        <%= image_tag (@requirement.image && @requirement.image.url(:medium)) || 'http://www.bmotorsports.com/shop/images/product-unavailable.jpg', class: 'pull-left' %>
        <p><%= @requirement.details %></p>
        <h4>Attached Files: </h4>
        <% @requirement.files.each do |attachment| %>
          <%= attachment.attachment_file_name %>: <%= link_to 'Download', attachment.url(:medium), target: '_blank' %><br>
        <% end %>
        <br>
        <div>
          <strong>Share this request: </strong>
          <div class="fb-share-button" data-href=<%= requirement_url(@requirement) %> data-layout="button_count"></div>
        </div>
        <br>
        <div class='col-md-12'>
          <div class='pull-left'>
            <strong>Interested Donors: </strong>
            <span class='large-font'><%= @requirement.donor_requirements.size %></span>
          </div>
          <div class='pull-right'>
            <% @donor_requirement = @requirement.donor_requirements.find_by(donor_id: current_user.try(:id)) %>
            <% if @requirement.fulfilled? %>
              <div> This requirement has been fulfilled. </div>
            <% else %>
              <% if @donor_requirement %>
                <% if @donor_requirement.donated? %>
                  <div> You have already donated this item. </div>
                <% else %>
                  <%= link_to 'Fulfill', requirement_mark_donated_path(@requirement), method: :put, class: 'btn btn-primary' %>
                  <%= link_to 'Withdraw Interest', requirement_uninterest_path(@requirement), method: :delete, class: 'btn btn-primary' %>
                <% end %>
              <% else %>
                <% if owner(@requirement) %>
                  <%= link_to 'Fulfill', fulfill_requirement_path(@requirement), method: :put, class: 'btn btn-primary' %>
                <% else %>
                  <%= link_to 'Show Interest', requirement_donor_requirements_path(@requirement), method: :post, class: 'btn btn-primary' %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <% if @requirement.interested_donors.size > 0 %>
          <ul id='donor-list'>
            <% @requirement.interested_donors.each do |donor| %>
              <li><%= donor.name %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">

      <div class="well height-800">
        <h2>Comments</h2>
        <div class="scroll-auto height-630">
          <ul id="comments">
            <%= render @requirement.comments.includes(:user) %>
            <li id="add-comment">
              <%= render 'comments/new_comment' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <%= link_to 'Back', :back, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<br>
<br>
<br>
