<% content_for :head do %>
  <meta property="og:title" content=<%= @requirement.title %>/>
<% end %>
<%= render 'shared/fb_scripts' %>
<br>
<br>
<div class="row">
  <div class="row">
    <div class="col-md-6 border-black height-800">
      <h2><%= @requirement.title %>
        <% if owner(@requirement) %>
          <%= link_to 'Edit', edit_requirement_path(@requirement), class: 'btn btn-primary btn-xs' %>
        <% end %>
      </h2>
      <div class="scroll-auto height-725">
        <%= image_tag (@requirement.image && @requirement.image.url(:medium)) || 'http://www.bmotorsports.com/shop/images/product-unavailable.jpg', class: 'pull-left' %>
        <p><%= @requirement.details %></p>
        <h4>Attached Files: </h4>
        <% @requirement.files.each do |attachment| %>
          <%= attachment.attachment_file_name %>: <%= link_to 'Download', attachment.url(:medium), target: '_blank' %><br>
        <% end %>
        <br>
        <div>
          <strong>Share this request: </strong>
          <div class="fb-share-button" data-href=<%= requirement_url(@requirement) %> data-layout="button_count"></div>
        </div>
        <br>
        <div class='col-md-12'>
          <div class='pull-left'>
            <strong>Interested Donors: </strong>
            <span class='large-font'><%= @requirement.donor_requirements.size %></span>
          </div>
          <div class='pull-right'>
            <% if current_user && @requirement.interested_donors.include?(current_user) %>
              <%= link_to 'Withdraw Interest', requirement_uninterest_path(@requirement), method: :delete, class: 'btn btn-primary' %>
            <% else %>
              <%= link_to 'Show Interest', requirement_donor_requirements_path(@requirement), method: :post, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
        <% if @requirement.interested_donors.size > 0 %>
          <ul id='donor-list'>
            <% @requirement.interested_donors.each do |donor| %>
              <li><%= donor.name %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">

      <div class="well height-800">
        <h2>Comments</h2>
        <div class="scroll-auto height-630">
          <ul id="comments">
            <%= render @requirement.comments.includes(:user) %>
            <li id="add-comment">
              <%= render 'comments/new_comment' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <%= link_to 'Back', :back, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<br>
<br>
<br>
