<h1>Listing Users</h1>
<table>
  <th>name</th>
  <th>email</th>
  <th>type</th>
  <th>address</th>
  <th>contact number</th>
  <th>about me</th>
  <th>enable/disable</th>
  <th colspan="2">Edit</th>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.type %></td>
      <td><%= user.address %></td>
      <td><%= user.contact_no %></td>
      <td><%= user.about_me %></td>
      <% if user.enabled %>
        <td><%= link_to 'disable', user_path(user, user: { enabled: false }), method: :put %></td>
      <% else %>
        <td><%= link_to 'enable', user_path(user, user: { enabled: true }), method: :put %></td>
      <% end %>
      <td><%= link_to 'Update Information', edit_user_path(user) %></td>
      <td><%= link_to 'delete user', user_path(user), method: :delete %></td>
    </tr>
  <% end %>
</table>
