<h2>User info</h2>

<strong>name: </strong><%= @user.name %><br>
<strong>email: </strong><%= @user.email %><br>
<strong>address: </strong><%= @user.address %><br>
<strong>contact no: </strong><%= @user.contact_no %><br>
<strong>about me: </strong><%= @user.about_me %>