<br>
<br>
<div class="well bs-component col-md-9">
  <%= form_for @coin_adjustment, html: { class: 'form-horizontal' } do |f| %>
    <%= f.label :coins %>
    <%= f.text_field :coins %>

    <div>
      <%= label_tag :card_no %>
      <%= text_field_tag 'card[number]' %>
    </div>
    <div>
      <%= label_tag :card_type %>
      <%= text_field_tag 'card[type]' %>
    </div>
    <div>
      <%= label_tag :CVV %>
      <%= text_field_tag 'card[CVV]' %>
    </div>
    <div>
      <%= label_tag :exp_month %>
      <%= text_field_tag 'card[month]' %>
    </div>
    <div>
      <%= label_tag :exp_year %>
      <%= text_field_tag 'card[year]' %>
    </div>
    <div>
      <%= label_tag :first_name %>
      <%= text_field_tag 'card[first_name]' %>
    </div>
    <div>
      <%= label_tag :last_name %>
      <%= text_field_tag 'card[last_name]' %>
    </div>
  <% end %>
</div>