<%= form_for([:admins, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <a id="create_sub_category_link" class=<%= @link_visibility.to_s %>>Create Sub-Category</a>
  <%= content_tag :div, class: 'field ' + @select_list_visibility.to_s, id: 'sub_category_select' do %>
    <%= f.label :parent_id %><br>
    <%= f.collection_select(:parent_id, Category.root.all_except(@category.id), :id, :name, { prompt: 'Select Parent' }) %>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>