<%= link_to 'Show Categories', admins_categories_path, class: 'btn btn-default', role: 'button' %>
<%= link_to 'Show Sub Categories', admins_sub_categories_path, class: 'btn btn-default', role: 'button' %>
<%= javascript_include_tag 'sub_categories' %>

<% if controller_name == 'sub_categories' %>
  <div class='link pull-right'>
    <%= link_to 'New Sub Category', new_sub_category_admins_categories_path, class: 'btn btn-primary', role: 'button' %>
  </div>
<% else %>
  <div class='link pull-right'>
    <%= link_to 'New Category', new_admins_category_path, class: 'btn btn-primary', role: 'button' %>
  </div>
<% end %>
<h2>
  <% if controller_name == 'sub_categories' %>
    <%= 'Listing Sub-Categories' %>
  <% else %>
    <%= 'Listing Categories' %>
  <% end %>
</h2>

<table class="table parent">
  <thead>
    <tr>
      <% if controller_name == 'sub_categories' %>
        <th>Parent Category</th>
      <% end %>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <% if controller_name == 'sub_categories' %>
          <td><%= category.parent_category.name %></td>
        <% end %>
        <%= render '/manage', locals: { category: category } %>
      </tr>
    <% end %>
  </tbody>

</table>
<%= paginate @categories %>
