<% #FIXME_AB: Use content_for tag to include these js files in th html head tag -%>
<% content_for :head do %>
  <%= javascript_include_tag 'loading_button' %>
<% end %>
<%= link_to 'Categories', admins_categories_path, class: 'btn btn-default ' + add_class_active(controller_name, 'categories'), role: 'button' %>
<%= link_to 'Sub Categories', admins_sub_categories_path, class: 'btn btn-default ' + add_class_active(controller_name, 'sub_categories'), role: 'button' %>

<% #FIXME_AB: We need to merge subcategory creation and category creation together, to make it easy for user -%>
<% if controller_name == 'sub_categories' %>
  <div class='link pull-right'>
    <%= link_to 'New Sub Category', new_admins_sub_category_path, class: 'btn btn-primary', role: 'button' %>
  </div>
<% else %>
  <div class='link pull-right'>
    <%= link_to 'New Category', new_admins_category_path, class: 'btn btn-primary', role: 'button' %>
  </div>
<% end %>
<h2>
  <% if controller_name == 'sub_categories' %>
    <%= 'Listing Sub-Categories' %>
  <% else %>
    <%= 'Listing Categories' %>
  <% end %>
</h2>

<table class="table parent">
  <thead>
    <tr>
      <th class="category-name">Name</th>
      <% if controller_name == 'sub_categories' %>
        <th>Parent Category</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <%= content_tag :tr, class: 'parent-item', data: { id: category.id } do %>
        <% #FIXME_AB: You don't need to spicify full directory path if the partial is in the same directory -%>
        <% #This is being used by sub_categories controller too %>
        <%= render 'admin/categories/manage', locals: { category: category } %>
      <% end %>
    <% end %>
  </tbody>

</table>
<%= paginate @categories %>
