<%= render 'shared/notice' %>
<%= render 'shared/users/sign_up_in' %>
<!-- TODO -> The above thing should be in a different partial. So, can be used in any other location. -->
<!-- TODO -> Indentation issues -->
<h1>Listing categories</h1>
<h3><%= link_to 'Show Sub Categories', categories_path, remote: true %></h3>

<div class='link right'>
  <%= link_to 'New Category', new_admin_category_path %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', admin_category_path(category) %></td>
        <% if @person_logged_in..try(:admin?) %>
        <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
          <% @category = category %>
          <!-- <div id='status'> -->
            <%= render 'status' %>
          <!-- </div> -->
        <% end %>
      </tr>
      <% if category.sub_categories.count > 0 %>
        <tr class="hiddenn">
          <td colspan = 4>
            <table class="table sub_table">
              <thead>                
                <tr>
                  <th>Sub-Category Name</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% category.sub_categories.order(:name).each do |sub_category| %>
                  <tr>
                    <td><%= sub_category.name %></td>
                    <td><%= link_to 'Show', sub_category %></td>
                    <% if @person_logged_in..try(:admin?) %>
                    <td><%= link_to 'Edit', edit_admin_category_path(sub_category) %></td>
                    <!-- Create different action for enabling or disabling category and do it via ajax -->
                    <% if sub_category.enabled %>
                      <td><%= link_to 'disable', category_path(sub_category, category: { enabled: false }), method: :put %></td>
                    <% else %>
                      <td><%= link_to 'enable', category_path(sub_category, category: { enabled: true }), method: :put %></td>
                    <% end %>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>

</table>
