<% if @person_logged_in = current_user || current_admin %>
  <li id='user-logged-in-options'>
    <%= link_to @person_logged_in.name, '#' %>
    <ul>
      <li>
        <%= link_to 'My Account', requirements_path({ filter: 'pending' }) %>
      </li>
      <li>
        <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </li>
<% else %>
  <li>
    <%= link_to 'sign up', new_user_registration_path %>
  </li>
  <li>
    <%= link_to 'sign in', new_user_session_path %>
  </li>
<% end %>