<% if @person_logged_in = current_user || current_admin %>
  <li class='top-display-icon'>
    <% if current_user && @person_logged_in.image %>
      <%= image_tag @person_logged_in.image.url(:thumb), class: 'display-icon' %>
    <% end %>
  </li>
  <li>
    <% if @person_logged_in.admin? %>
      <%= link_to @person_logged_in.display_name, admins_requirements_path({ filter: 'pending' }) %>
    <% else %>
      <%= link_to requirements_path({ filter: 'pending' }), class: '' do %>
        <%= @person_logged_in.display_name %>
      <% end %>
    <% end %>
  </li>
  <li>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  </li>
<% else %>
  <li>
    <%= link_to 'Sign Up', new_user_registration_path %>
  </li>
  <li>
    <%= link_to 'Sign In', new_user_session_path %>
  </li>
<% end %>