<% #FIXME_AB: Why Email, don't you have name of user? -%>
<h2>Edit <%= @user.email.to_s.humanize %></h2>
<%= form_for(@user, url: { action: "update" }) do |f| %>
<% #FIXME_AB: Following code for displaying error message should be extracted out so that can be used at other places. -%>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :about_me %><br>
    <%= f.text_area :about_me %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :contact_no %><br>
    <%= f.text_field :contact_no %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>