<h1>Listing Users</h1>
<div class="form right">
  <h3>Search by</h3>
  <%= form_tag('/admins/users/search', method: :post) do %>
    <select name="user[search][criteria]">
      <option value='email'>email</option>
      <option value='name'>name</option>
    </select>
    <input name="user[search][text]" type="text">
    <%= submit_tag 'Search' %>
  <% end %>
</div>
<table class='table'>
  <th>name</th>
  <th>email</th>
  <th>type</th>
  <th>address</th>
  <th>contact number</th>
  <th>about me</th>
  <th>#Requests</th>
  <th>enable/disable</th>
  <th colspan="2">Edit</th>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, admins_user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= user.type %></td>
      <td><%= user.address %></td>
      <td><%= user.contact_no %></td>
      <td><%= user.about_me %></td>
      <td><%= user.requirements.size %></td>
      <%= content_tag :td, id: 'status' + user.id.to_s do %>
        <%= render 'status', locals: { user: user } %>
      <% end %>
      <td><%= render 'update', locals: { user: user } %></td>
      <td><%= render 'delete', locals: { user: user } %></td>
    </tr>
  <% end %>
</table>
