<%= javascript_include_tag 'loading_button' %>
<h1>Listing Users</h1>
<div class="form right">
  <h3>Search by</h3>
  <%= form_tag('/admins/users/search', method: :post) do %>
    <select name="user[search][criteria]">
      <option value='email' <%= 'selected' if(@search && @search[:criteria] == 'email') %> >email</option>
      <option value='name' <%= 'selected' if(@search && @search[:criteria] == 'name') %> >name</option>
    </select>
    <input name="user[search][text]" type="text" value=<%= @search[:text] if @search %> >
    <%= submit_tag 'Search' %>
  <% end %>
  <% if @search %>
    <%= link_to 'All Users', admins_users_path %>
  <% end %>
</div>
<table class='table'>
  <th>Name</th>
  <th>Email</th>
  <th>#Requests</th>
  <th>#Donations</th>
  <th>Enable/Disable</th>
  <th>Edit</th>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, admins_user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= user.requirements.size %></td>
      <td><%= user.donations.size %></td>
      <%= content_tag :td, id: 'status' + user.id.to_s, class: 'loader' do %>
        <%= render 'status', locals: { user: user } %>
      <% end %>
      <td><%= render 'update', locals: { user: user } %></td>
    </tr>
  <% end %>
</table>
