<ul id="status_filter">
  <% if @controller_action == 'admins/requirements#index' %>
    <li><%= link_to 'Pending', filter_admins_requirements_path(requirement: { filter: { criteria: :status, value: 0 }, controller_action: @controller_action }) %></li>|
    <li><%= link_to 'In Process', filter_admins_requirements_path(requirement: { filter: { criteria: :status, value: 1 }, controller_action: @controller_action }) %></li>|
    <li><%= link_to 'Fulfilled', filter_admins_requirements_path(requirement: { filter: { criteria: :status, value: 2 }, controller_action: @controller_action }) %></li>
  <% else %>
    <li><%= link_to 'Pending', filter_requirements_path(requirement: { filter: { criteria: :status, value: 0 }, controller_action: @controller_action }) %></li>|
    <li><%= link_to 'In Process', filter_requirements_path(requirement: { filter: { criteria: :status, value: 1 }, controller_action: @controller_action }) %></li>|
    <li><%= link_to 'Fulfilled', filter_requirements_path(requirement: { filter: { criteria: :status, value: 2 }, controller_action: @controller_action }) %></li>
  <% end %>
</ul>