<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'Freeka', root_path, class: 'navbar-brand' %>
  </div>
  <div class='col-md-6'>
    <ul id='main_menu'>

      <% categories = Category.roots.enabled.includes(:enabled_sub_categories) %>
    <% categories.each do |category| %>
      <li>
          <%= render 'shared/requirement/category_link', locals: { category: category } %>
        <% if !category.enabled_sub_categories.empty? %>
          <ul>
            <% category.enabled_sub_categories.each do |sub_category| %>
              <li><%= render 'shared/requirement/category_link', locals: { category: sub_category } %></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <% if current_admin %>
    <% action = '/admins/requirements/search' %>
  <% else %>
    <% action = '/requirements/search' %>
  <% end %>
  <div class='col-md-2'>
    <%= form_tag(action, method: :post, class: "navbar-form navbar-left") do %>
      <input type="text" name="requirement[search]" class="form-control" placeholder="Search">
      <%= hidden_field_tag 'requirement[controller_action]', @controller_action %>
    <% end %>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <%= render 'shared/users/sign_up_in' %>
  </ul>
</div>
