<!DOCTYPE html>
<html>
<head>
  <title>Freeka</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/admin_menu_bar' %>
  <div id="flash">
    <%= render 'shared/flash' %>
  </div>
  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
